.img{
	    border: 3px groove green;
		
}
html{
	background: #556B2F;
}

.bg{
	border: 2px solid blue;
	padding: 10px;	
}

table {
    border: 3px solid black;
}

td {
	width:100px;
    border: 1px solid black;
}